<nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <%= image_tag("logo.png", alt: "Logo", width: "80") %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-4 mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="<%= admin_pets_path %>">管理画面</a>
                </li>
                <% if admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "アカウント管理", edit_admin_registration_path, class: "nav-link active"  %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link active"  %>
                </li>
                <% end %>
        </ul>
        </div>
    </div>
</nav>
