<div class="mt-4">
  <div class="py-5 bg-light-yellow d-flex justify-content-center align-items-center flex-column gap-4">
    <img src="/images/logo.png" class="" style="width: 300px;"/>
    <div class="text-main">ペットSNS交流・情報交換サイト</div>
    <div class="d-flex justify-content-center align-items-center gap-3 mt-4">
      <a>運営会社</a>|
      <a>利用規約</a>|
      <a>プライバシーポリシー</a>|
      <a>特定商取引に関する表記</a>|
      <a>お問い合わせ</a>
    </div>
  </div>
  <div class="bg-main py-1">
    <div class="container-fluid text-white text-center">
      ©2023 Petter.ALL RIGHTS RESERVED.
    </div>
  </div>
</div>
