<div class="container mt-5 text-center">
    <%= form_with model: [@event.community, @event] do |form| %>
        <%= form.file_field :background_image %>
        <%= form.submit "Upload" %>
    <% end %>
</div>