<div>
  <div class="d-flex justify-content-end align-items-center">
    <a class="d-flex justify-content-end align-items-center">
      <i class="fa fa-pencil"></i> 概要を編集する
    </a>
  </div>
  <div class="mt-3">
    <div class="border rounded">
      <div class=" px-3 py-4 border-bottom-dotted">
        <p>
          2024年11月03日 (土) 13時30 分~16時30分
        </p>
        <p>
          東京都 江戸川区平井(JR総武線 平井駅徒歩2~3分)
        </p>
        <p>
          2024年10月03日(土)締切
        </p>
        <button class="btn bg-light-cyan text-white fw-bold d-block w-100 mt-4">
          イベント主催者です
        </button>
        <button class="btn bg-transparent text-light-yellow border-light-yellow fw-bold d-block w-100 mt-4">
          気になる!
        </button>
      </div>
      <div class="px-3 py-4">
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex align-items-center gap-1">
            <i class="fa fa-user text-main"></i> 参加者
          </div>
          <div class="d-flex flex-column justify-content-end align-items-end">
            <div>1/25人 ></div>
            <span class="d-flex justify-content-center rounded-circle align-items-center bg-light" style="width: 30px; height: 30px">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex align-items-center gap-1">
            <i class="fa fa-user text-main"></i> 気になる!してる人 5
          </div>
          <div class="d-flex flex-column justify-content-end align-items-end">
            <div>1/5人></div>
            <span class="d-flex justify-content-center rounded-circle align-items-center bg-light" style="width: 30px; height: 30px">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <div class="border rounded">
      <div class=" px-3 py-2 bg-light rounded-t  border-bottom">
        主催者
      </div>
      <div class=" px-3 py-4 border-bottom-dotted">
        <div class="d-flex justify-content-center flex-column align-items-center gap-2">
          <span class="d-flex justify-content-center align-items-center rounded-circle bg-secondary" style="width: 50px; height: 50px">
            <i class="fa fa-user fa-2x"></i>
          </span>
          <div>ユーザー名 (222)</div>
          <button class="btn bg-main text-white fw-bold">
            マイページへ
          </button>
        </div>
      </div>
      <div class=" px-3 py-4 d-flex justify-content-end align-items-center">
        <div>主催イベント</div>
        <div>37回 ></div>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <div class="border rounded">
      <div class=" px-3 py-2 bg-light rounded-t  border-bottom">
        困ったときには
      </div>
      <div class=" px-3 py-4 border-bottom-dotted">
        <div class="d-flex justify-content-between align-items-center gap-2 mb-2">
          コミュニティのヘルプ <span>></span>
        </div>
        <div class="d-flex justify-content-between align-items-center gap-2 mb-2">
          利用上の注意 <span>></span>
        </div>
        <div class="d-flex justify-content-between align-items-center gap-2 mb-2">
          規約違反の通報 <span>></span>
        </div>
        <div class="d-flex justify-content-between align-items-center gap-2 mb-2">
          メンテ・障害のお知らせ <span>></span>
        </div>
      </div>
    </div>
  </div>
</div>
