<p>こんにちは、<%= @resource.name || 'ゲスト' %>様</p>

<p>以下のリンクからパスワードの変更ができます</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし心当たりがない方はこのメールを無視してください。</p>
<p>上記のリンクにアクセスし、パスワードを再設定するまでパスワードは変更されません。</p>
